@model IEnumerable<eShop.Admin.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}
<p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#categoryModal">კატეგორიის დამატება</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <button class="btn btn-success btn-sm rounded-0" type="button" data-placement="top" data-toggle="modal" data-target="#categoryModal" title="რედაქტირება" ><i class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="წაშლა"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>

<!--Category Modal -->

<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="categoryModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @*<partial name="_CreateEdit" model="new CategoryModel()" />*@
            </div>
        </div>
    </div>
</div>


